<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rpg.fried_shrimp.mapper.BattleMapper">

    <resultMap id="BattleResultMap" type="com.rpg.fried_shrimp.model.Battle">
        <id property="battleId" column="battle_id" />
        <result property="playerId" column="player_id" />
        <result property="enemyId" column="enemy_id" />
        <result property="playerHp" column="player_hp" />
        <result property="enemyHp" column="enemy_hp" />
        <result property="turn" column="turn" />
        <!-- 手動で追加したマッピング -->
        <result property="battleResult" column="battle_result" jdbcType="VARCHAR" javaType="com.rpg.fried_shrimp.model.Battle$BattleResult" />
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getPoints" parameterType="com.rpg.fried_shrimp.model.Battle" resultType="int">
        SELECT point FROM battle WHERE enemy_id = #{enemyId}
    </select>

    <insert id="insertBattle" parameterType="com.rpg.fried_shrimp.model.Battle" useGeneratedKeys="true" keyProperty="battleId">
    <selectKey keyProperty="battleId" order="AFTER" resultType="int">
        SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO battle (player_id, enemy_id, player_hp, enemy_hp, turn, create_date, battle_result)
    VALUES (#{playerId}, #{enemyId}, #{playerHp}, #{enemyHp}, #{turn}, #{createDate}, #{battleResult})
    </insert>


    <select id="findByPlayerId" resultMap="BattleResultMap" parameterType="int">
        SELECT * FROM battle WHERE player_id = #{playerId}
    </select>
    
    <select id="getBattleById" resultMap="BattleResultMap" parameterType="int">
        SELECT * FROM battle WHERE battle_id = #{battleId}
    </select>

    <update id="updateBattleHp" parameterType="com.rpg.fried_shrimp.model.Battle">
        UPDATE battle SET player_hp = #{playerHp}, enemy_hp = #{enemyHp} WHERE battle_id = #{battleId}
    </update>

    <select id="getCurrentTurn" parameterType="int" resultType="int">
        SELECT turn FROM battle WHERE battle_id = #{battleId}
    </select>

    <update id="setCurrentTurn" parameterType="map">
        UPDATE battle SET turn = #{currentTurn} WHERE battle_id = #{battleId}
    </update>

    <update id ="updateBattle" parameterType="com.rpg.fried_shrimp.model.Battle">
        UPDATE battle SET player_hp = #{playerHp}, enemy_hp = #{enemyHp}, turn = #{turn}, 
            battle_result = #{battleResult} WHERE battle_id = #{battleId}
    </update>
    <!-- 他にも必要なマッピングがあれば追加 -->


</mapper>
